@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=REM:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');



* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #1fd190;
}

.initial, .siir {
    height: 100vh;
}

.initial h1 {
    text-align: center;
    color: #fff;
    z-index: 1;
    position: absolute;
    font-size: 1.7rem;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    vertical-align: middle;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 1s ease-in-out;
}

a {
    color: #ccc;
}

.initial h1 span a {
    animation: fade 3s ease-in-out;
    text-decoration: none;
    font-weight: 600;
}

.initial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.siir {
    animation: fade 1s ease-in-out;
    position: relative;
}

.siir img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.siir .text {
    position: absolute;
    bottom: 0;
    height: 30%;
}

.siir .text p {
    padding: 1em;
    font-size: 1.1em;
    font-family: 'Playpen Sans', sans-serif;
}

#s3 p {
    font-size: 1.05em;
}

#s4 img {
    object-fit: contain;
}

#s5 p {
    font-size: 0.96em;
}
#s6 p {
    font-size: 0.87em;
}

@media screen and (max-height: 730px) {
    .siir img {
        height: 60%;
    }

    .siir .text {
        height: 40%;
    }
}